/* Welcome Page Styling */

.welcome {
	-fx-control-inner-background: derive(-fx-base, 80%);
}

.info {
	-fx-background-radius: 50em;
	-fx-min-width: 50px;
	-fx-min-height: 50px;
	-fx-max-width: 50px;
	-fx-max-height: 50px;
}
.bet {
	-fx-pref-width: 50;
	-fx-pref-height: 40;
}

.pane {
	-fx-border-color: #00008b;
	-fx-background-color: linear-gradient(to bottom, #3498db, #ffffff);
	-fx-border-width: 4px;
}

/* Welcome Page Styling */

/* Game Page Styling */

/* Game Page Styling */
