.transparent_border{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.playbutton{
    -fx-padding: 20px 30px;
    -fx-background-color: #00FF00;
    -fx-background-radius: 50em;
}
.betbutton{
    -fx-min-width: 150px;
}
